/*Responsive on mobile*/
html {
  margin: 0%;
}

body {
  text-align: center;
  margin: 0%;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 5px;
  text-decoration: underline;
}

img {
  text-align: center;
  width: 250px;
  margin-top: 20px;
  border-radius: 50%;
}

h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  color: rgb(29,29,39);
}

span {
  font-size: 20px;
  color: grey;
}

.writers, .cast {
  display: block;
}

section {
  margin-bottom: 30px;
}

.writers-wrap {
  background: rgb(207, 205, 200);
  padding: 20px;
}

/*Responsive on tablet*/
@media only screen and (max-width: 1023px) and (min-width: 601px) {
  img {
    width: 200px;
  }

  h2 {
    font-size: 35px;
  }

  h6 {
    font-size: 25px;
  }

   .writers, .cast {
    display: flex;
    justify-content: space-around;
  }

  .cast {
    flex-wrap: wrap;
  }

  .actor-three {
    width: 100%;
  }
}

/*Responsive on desktop*/
@media only screen and (min-width: 1024px) {
  h1{
    font-size: 40px;
  }

  h6{
    font-size: 30px;
  }

  img {
    width: 300px;
  }
  
  span {
    font-size: 25px;
  }

  .writers {
    display: flex;
    justify-content: space-around;
  }

  .writers-wrap {
    background: none;
  }

  .cast {
    display: flex;
    justify-content: space-around;
  }
}








/*body{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

h1{
  text-align: center;
  margin: 20px;
  padding: 5px;
  font-size: 40px;
  font-family: fantasy;
}

h2{
  text-align: center;
  margin: 30px;
  padding: 5px;
  font-size: 25px;
}

img{
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.writer-one img{
  margin-left: 100px;
}

.writer-one h6{
  margin-left: 100px;
}

.writer-two img{
  margin-right: 100px;
}

.writer-two h6{
  margin-right: 100px;
}

h6{
  margin: 5px;
  font-size: 15px;
  color: rgb(19,19,19);
}

.director{
  text-align: center;
}

.writers, .cast{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

span {
  color: grey;
}*/

/*Responsive*/
/*

*/